
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.venv/
.env
.env.*

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

data/
faiss_index/
